*{
    margin: 0px;
    padding: 0px;
}
html {
    box-sizing: border-box;
}
nav {
    background-color:#343A40;
    height: 100px;
    width: 100%;
    padding-left: 5%;
}
nav ul {
    list-style: none;
    max-width: 1280px ;
    margin: 0px auto;
}
ul.clearfix {
    
    clear: both;
}
nav ul li{
    float:left;
    line-height: 70px;
    vertical-align: bottom;
}
nav ul li a{
    text-decoration: none;
    color: #bbb;
    font-size: 24px;
    padding: 0px 40px;
    display: block;
    border-right: 2px solid black; 
    transition: 0.3s;
}
nav ul li a:hover{
    color: white;
    font-size: 20px;
    
}
nav ul li i {
    padding-right: 10px;
    font-size: 24px;
    ;
}